body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(145deg, #f5f0f5, #faf9ff);
  background-image: url("https://www.transparenttextures.com/patterns/symphony.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
